<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de engine</title>
</head>
<body>
    
    <section class="container">
        <h1>Seja Bem-vindo</h1>
        <section>
            <form action="/" method="POST">
                <table>
                    <tr>
                        <td><label for="nome">Nome: </label></td>
                        <td><input type="text" name="nome" id="nome"></td>
                    </tr>
                    <tr>
                        <td><label for="sobrenome">Sobrenome: </label></td>
                        <td><input type="text" name="sobrenome" id="sobrenome"></td>
                    </tr>
                    <tr><td></td><td align="right"><button type="submit"> Enviar Formulário</button></td></tr>
                </table>
            </form>
        </section>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>

</html>